.footer {
	font-size: $fontSizeSmall;
	background: $colorText;
	color: $white;
	@include clearer();
	a {
		color: $white;
	}
	.footerListWrapper {
		@include clearer();
	}
	.footerIns {
		padding: 50px 0;
		max-width: $sizeDesktop;
		margin: auto;
	}
	.footerDown {
		width: 65%;
		padding-top: 40px;
		margin-top: 40px;
		border-top: 20px solid rgba($white, 0.2);
		a {
			font-weight: bold;
			color: lighten($colorMainAlt, 20%);
			&:hover {
				color: $colorMainAlt;
			}
		}
		.btnContact {
			width: 250px;
			margin-bottom: 20px;
			a {
				display: block;
				background: $white;
				color: $colorText;
				text-align: center;
				font-weight: bold;
				padding: 20px;
				text-transform: uppercase;
				@include borderRadius(3px);
				@include animate();
				&:hover {
					background: rgba($white, 0.8);
				}
			}
		}
	}
	.footerList {
		width: 35%;
		float: left;
		padding-right: 15%;
		.footerTitle {
			font-weight: bold;
			text-transform: uppercase;
			padding: 0 0 10px;
			margin: 0 0 10px;
			border-bottom: 2px solid rgba($white, 0.5);
			color: rgba($white, 0.5);
		}
		a {
			font-weight: normal;
			display: block;
			width: 50%;
			float: left;
			padding: 5px 0;
			color: rgba($white, 0.5);
			@include textEllipsis();
			&:hover {
				color: $white;
			}
		}
		.footerListItems {
			@include clearer();
			p {
				padding: 0;
				margin: 0;
				line-height: 1;
				@include clearer();
			}
		}
	}
}