.searchTop {
	@include clearer();
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	.formField {
		width: 170px;
		margin: 0 5px 0 0;
		display: inline-block;
		vertical-align: middle;
		input {
			display: inline-block;
			font-size: $fontSizeNormal;
			border: 1px solid darken($white, 20%);
			padding: 3px;
			line-height: 1.2;
			width: 100%;
			font-family: $fontFamily;
			@include borderRadius(3px);
		}
	}
	.formFieldSubmit {
		width: 100px;
		display: inline-block;
		vertical-align: middle;
		button {
			font-size: 1em;
			background: lighten(desaturate($colorText, 50%), 30%);
			border: 1px solid lighten(desaturate($colorText, 50%), 30%);
			color: $white;
			display: inline-block;
			border: 0px;
			cursor: pointer;
			width: 100%;
			padding: 5px 10px;
			text-transform: uppercase;
			font-family: $fontFamily;
			font-weight: bold;
			font-size: $fontSizeTiny;
			span {
				display: inline-block;
				padding: 0 0 0 10px;
			}
			@include borderRadius(3px);
			&:hover {
				background: lighten(desaturate($colorText, 50%), 10%);
			}
		}
	}
}

.subscribeTop {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 0;
	margin: 0 5px 0 0;
	border-right: 1px solid darken($white, 10%);
	a {
		display: inline-block;
		background: $colorMain;
		color: $white;
		padding: 7px 20px;
		margin: 0 0 0 10px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: -1px;
		@include borderRadius(3px);
		&:hover {
			background: darken($colorMain, 10%);
		}
		i {
			display: inline-block;
			padding: 0 10px 0 0;
		}
	}
}

.formContact {
	width: 70%;
	margin: 30px auto;
	p {
		padding: 0px;
	}
	label {
		display: block;
		font-size: $fontSizeTiny;
		text-transform: uppercase;
		color: darken($white, 50%);
		padding-bottom: 3px;
	}
	.formField {
		padding-bottom: 10px;
		input,
		textarea {
			width: 100%;
			padding: 5px;
			border: 1px solid darken($white, 40%);
			font-size: 1.2em;
			font-family: $fontFamily;
			@include borderRadius(3px);
		}
	}
	.formSubmitWrapper {
		padding-top: 20px;
		input {
			width: 200px;
			margin: auto;
			display: block;
			background: $colorMainAlt;
			color: $white;
			font-weight: bold;
			text-transform: uppercase;
			padding: 10px;
			text-align: center;
			cursor: pointer;
			border: 0px;
			font-size: 1em;
			font-family: $fontFamily;
		}
	}
	.error {
		color: $colorMainAlt;
		font-size: 0.8em;
	}
	.errorField {
		input,
		textarea {
			border: 1px solid $colorMainAlt;
		}
	}
}

.searchMainWrapper {
	height: 500px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.searchMain {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(darken($colorText, 10%), 0.3);
	.searchMainIns {
		width: 70%;
		margin: auto;
		padding: 200px 0 0 0;
	}
	.formField {
		width: 70%;
		float: left;
		@include borderBox();
		input {
			width: 100%;
			font-size: $fontSizeBig;
			padding: 10px;
			border: 0;
			background: $white;
			font-family: $fontFamily;
			@include borderRadiusLeft(5px);
		}
	}
	.formFieldSubmit {
		width: 30%;
		float: right;
		@include borderBox();
		button {
			display: block;
			width: 100%;
			background: darken($colorText, 4%);
			border: 0;
			padding: 10px;
			color: $white;
			cursor: pointer;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			font-size: $fontSizeBig;
			font-family: $fontFamily;
			text-shadow: 1px 1px 3px rgba($black, 0.6);
			@include borderRadiusRight(5px);
			&:hover {
				background: darken($colorText, 6%);
			}
			i {
				display: inline-block;
				padding: 0 10px 0 0;
			}
		}
	}
}

.formPublic {
	background: darken($white, 4%);
	border: 1px solid darken($white, 10%);
	padding: 15px;
	margin: auto;
	max-width: $sizeTablet * 4 / 5;
	@include lightShadow();
	.formFields {
		padding: 0 0 10px;
		&:last-child {
			padding: 0;
		}
		h2 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: $fontSizeSmall;
			color: darken($colorAccentAlt, 20%);
			padding: 0 0 15px;
		}
	}
	.formField {
		padding: 0 0 10px;
		label {
			display: block;
			color: darken($white, 80%);
			font-size: $fontSizeTiny;
			padding: 0 0 5px;
			font-weight: normal;
			line-height: 1;
			@include borderBox();
		}
		&.required {
			label {
				&:after {
					content: '*';
					display: inline-block;
					padding: 0 0 0 5px;
					color: $colorError;
				}
			}
		}
		input,
		textarea,
		select,
		.formFieldsImage {
			display: block;
			padding: 5px;
			width: 100%;
			font-family: $fontFamily;
			color: $colorText;
			border: 1px solid darken($white, 25%);
			background: $white;
			@include borderBox();
		}
		.formFieldsImage {
			border-bottom: 0;
			width: auto;
			@include clearer();
			img {
				display: block;
				max-height: 40px;
				max-width: 100%;
				margin: 0 auto 5px auto;
				border: 0;
			}
			+ input {
				border-top: 0;
			}
		}
		.error {
			display: block;
			color: $colorError;
			font-weight: bold;
			font-size: $fontSizeSmall;
			padding: 0 0 5px;
		}
		&.error {
			input,
			textarea,
			select {
				border: 1px solid $colorError !important;
			}
		}
		&.point {
			label {
				display: block;
				width: 100%;
				text-align: left;
				padding: 0 0 10px;
				margin: 0;
			}
			.checkbox {
				input,
				label {
					float: none;
			        font-weight: normal;
			        display: inline-block;
			        width: auto;
			        margin: 0;
			        padding: 0 5px 0 0;
			    }
			}
		}
		&.radio {
			.radioValue {
				padding: 0 0 10px;
				@include clearer();
				input {
					width: auto;
					float: left;
					display: inline-block;
					margin: 0 10px 5px 0;
				}
				label {
					width: auto;
					display: block;
					strong {
						font-weight: bold;
						color: $colorAccent;
					}
				}
			}
		}
		&.color {
			input {
				padding: 0;
				height: 30px;
			}
		}
		.captcha {
			padding: 20px 0 0 0;
			text-align: center;
			.g-recaptcha {
				display: inline-block;
			}
		}
		&.formFieldOld {
			color: lighten($black, 50%);
			font-size: $fontSizeTiny;
			font-style: italic;
		}
	}
	.formFields2,
	.formFields3 {
		@include clearer();
		.formField {
			width: 50%;
			padding: 0 20px 10px 0;
			float: left;
			@include borderBox();
			&:last-child {
				padding: 0;
			}
		}
	}
	.formFields3 {
		.formField {
			width: calc(100%/3);
		}
	}
	.captcha {
		.error {
			float: none;
			width: auto;
		}
	} 
	.formSubmitWrapper {
		input,
		button {
			display: block;
			text-align: center;
			font-family: $fontFamily;
			background: $colorAccept;
			color: $white;
			border: 0;
			padding: 10px 20px;
			margin: 20px auto auto auto;
			max-width: $sizeMobile;
			text-transform: uppercase;
			font-weight: bold;
			font-size: $fontSizeNormal;
			cursor: pointer;
			@include borderRadius(3px);
			&:hover {
				background: darken($colorAccept, 10%);
			}
		}
	}
}