.contentSide {
	font-size: $fontSizeSmall;
	text-align: center;
	line-height: 2em;
	padding-top: 30px;
	h2 {
		text-transform: uppercase;
		padding-bottom: 5px;
		margin-bottom: 15px;
		border-bottom: 2px solid darken($white, 40%);
		color: darken($white, 50%);
		font-weight: bold;
	}
	a {
		display: inline-block;
		margin: 2px 1px;
		padding: 2px 5px;
		font-weight: normal;
		color: darken($white, 50%);
		background: darken($white, 3%);
		@include borderRadius(3px);
		&:hover {
			background: darken($white, 5%);
			color: darken($white, 90%);
		}
	}
}