.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 0;
	border-bottom: 1px solid darken($white, 5%);
	background: $white;
	z-index: 9999;
	@include simpleShadow();
	@include clearer();
	.headerIns {
		max-width: $sizeDesktop;
		margin: auto;
	}
	.headerLeft {
		width: 30%;
		float: left;
	}
	.headerRight {
		width: 70%;
		float: right;
		text-align: right;
		padding: 4px 0 0 0;
	}
	.logo a {
		display: block;
		width: 200px;
		strong {
			display: block;
			width: 200px;
			height: 20px;
			background-image: url(../../img/logo.png);
			background-repeat: no-repeat;
			background-position: left center;
			background-size: contain;
			text-indent: -5000px;
			overflow: hidden;
		}
		span {
			font-weight: normal;
			display: block;
			text-align: right;
			margin: 3px 0 0 0;
			padding: 3px 0 0 0;
			border-top: 3px double darken($white, 10%);
			font-size: $fontSizeTiny;
			line-height: 1;
			color: darken($white, 30%);
		}
		&:hover {
			opacity: 0.7;
		}
	}
}