@media screen and (max-width: $sizeDesktop) {

	.header {
		padding: 5px 10px;
	}
	.subscribeTop {
		margin: 0;
		padding: 0;
		border: 0;
		a {
			margin: 0 5px 0 0;
		}
	}
	.contentWrapper {
		padding: 70px 10px 50px 10px;
		h1 {
			font-size: $fontSizeHuge * 2 / 3;
		}
		.contentLeft {
			width: 70%;
		}
		.contentRight {
			width: 28%;
		}
		&.contentWrapperIntro {
			padding: 10px;
		}
	}
	.footer {
		padding: 20px 10px;
		.footerIns {
			padding: 0;
		}
		.footerDown {
			width: auto;
		}
	}
	.contentSide {
		a {
			font-size: $fontSizeTiny;
			padding: 1px 4px;
			margin: 1px;
		}
	}
	.actions .action {
		width: calc(100% / 3);
		a {
			span {
				display: none;
			}
		}
	}
	.related {
	    padding-top: 20px;
	    h3 {
	    	font-weight: bold;
	    	text-align: center;
	    	margin: 0;
	    	padding: 0 0 20px;
	    }
	}
}

@media screen and (max-width: $sizeTablet) {
	
	.header {
		.headerLeft {
			width: 35px;
		}
		.headerRight {
			width: calc(100% - 40px);
			padding: 0;
		}
		.logo a {
			margin: auto;
			background: url(../../img/logoSingle.png) no-repeat center center;
			text-indent: -5000px;
			overflow: hidden;
			display: block;
			width: 35px;
			height: 35px;
			strong,
			span {
				display: none;
			}
		}
	}
	.searchMainWrapper {
		display: none;
	}
	.subscribeTop {
		position: fixed;
		bottom: 0;
		right: 0;
		border: 0;
		margin: 0;
		padding: 0;
		a {
			padding: 12px 30px;
			margin: 0;
			@include borderRadius(0);
			@include borderRadiusTopLeft(10px);
		}
	}
	.searchTop {
		width: 200px;
		.formField {
			width: 150px;
		}
		.formFieldSubmit {
			width: 50px;
			button {
				span {
					display: none;
				}
			}
		}
	}
	.searchMain {
		.searchMainIns {
			width: calc(100% - 40px);
		}
		.formFieldSubmit {
			button {
				text-align: center;
				i {
					padding: 0;
				}
				span {
					display: none;
				}
			}
		}
	}
	.introPage {
		.introPageLeft,
		.introPageRight {
			@include noFloat();
			margin: 0 0 20px;
			&:last-child {
				margin: 0;
			}
		}
	}
	.footer {
		.footerIns {
			padding: 20px 10px;
			.footerList {
				@include noFloat();
				padding: 0 0 30px;
				&:last-child {
					padding: 0;
				}
			}
		}
		.footerDown {
			text-align: center;
			border-top: 5px solid rgba(255, 255, 255, 0.2);
		    margin-top: 30px;
		    padding-top: 30px;
		    width: 100%;
		    .btnContact {
		    	margin: 0 auto 30px auto;
		    }
		}
	}
	.contentWrapper {
		padding: 60px 10px 10px 10px;
		&.contentWrapperIntro {
			padding: 60px 10px 10px 10px;
		}
		h1 {
			font-size: $fontSizeHuge * 2 / 3;
		}
		.contentLeft,
		.contentRight {
			@include noFloat();
		}
		&.contentWrapper-simple {
			h1 {
				font-size: $fontSizeBig;
			}
		}
	}
	.introPage {
		.introPageLeft {
			h1 {
				text-align: center;
				background: lighten($black, 50%);
				color: $white;
				padding: 10px;
				margin: 0 -10px 20px -10px;
				font-size: $fontSizeNormal;
				text-transform: uppercase;
			}
		}
	}
	.pagePromoted {
		.itemComplete {
			padding: 80px 10px;
			h1 {
				font-size: $fontSizeHuge * 2 / 3;
			}
		}
		.itemCompleteWrapper {
			.itemCompleteWrapperLeft,
			.itemCompleteWrapperRight {
				@include noFloat();
				img {
					display: block;
					max-width: 250px;
					margin: 0 auto 20px auto;
				}
			}
		}
		.itemCompleteInfoWrapper.itemCompleteInfo {
			.itemCompleteInfoLeft,
			.itemCompleteInfoRight {
				@include noFloat();
			}
		}
	}
	.shareOptions .shareOptionsIns {
		a i {
			padding: 0;
		}
		span {
			display: none;
		}
	}
	.itemComplete {
		.actions {
			.action {
				@include noFloat();
				padding: 0 0 10px;
				max-width: 320px;
				width: auto;
				margin: auto;
			}
		}
	}
	.formPublic {
		margin: 0 -10px;
		box-shadow: 0 0 0 rgba($white, 0);
		border: 0;
		.formFields2,
		.formFields3 {
			.formField {
				@include noFloat();
				padding: 0 0 10px 0;
			}
		}
	}
	.cityList {
		a {
			@include noFloat();
		}
	}
	.contentWrapperMessage {
		.message {
			font-size: $fontSizeSmall;
			padding: 20px 20px 20px 60px;
			text-align: left;
			position: relative;
			margin: 30px auto;
			&:before {
				width: 20px;
				font-size: 20px;
				padding: 15px;
				line-height: 40px;
			}
			h1 {
				font-size: $fontSizeNormal;
			}
		}
	}
	.buttonHome {
		margin: 40px auto;
	}
	.promotion {
		.promotionIns {
			padding: 15px;
			h1 {
				font-size: $fontSizeBig;
				padding: 0 0 15px;
				margin: 0 0 15px;
				span {
					font-size: $fontSizeBig;
					em {
						font-size: $fontSizeBig;
					}
				}
			}
			h2 {
				font-size: $fontSizeBig;
				padding: 20px 0 15px 0;
			}
			ul {
				margin: 10px 0;
				padding: 0;
				width: 100%;
				li {
					margin: 0 10px;
					padding: 0 0 10px 30px;
					font-size: $fontSizeNormal;
				}
			}
		}
		.formFieldsPromotionLink {
			padding: 20px 0;
		}
	}
}