@import "_reset.scss";


@import "_variables.scss";
@import "_common.scss";
@import "_mixins.scss";
@import "_jqueryui.scss";

@import "_public_icons.scss";
@import "_public_header.scss";
@import "_public_menu.scss";
@import "_public_footer.scss";
@import "_public_sidebar.scss";
@import "_public_forms.scss";

html,
body {
	font-size: $fontSizeNormal;
	line-height: 1.1;
	font-family: $fontFamily;
	color: $colorText;
}

.contentWrapper {
	padding: 70px 0;
	max-width: $sizeDesktop;
	margin: auto;
	@include clearer();
	&.contentWrapperIntro {
		padding: 20px 0;
	}
	.contentLeft {
		width: calc(100% - 400px);
		float: right;
	}
	.contentRight {
		width: 380px;
		float: left;
	}
	.breadcrumbs {
		padding: 0 0 3px;
		margin: 0 0 5px;
		border-bottom: 1px solid darken($white, 5%);
		font-size: $fontSizeTiny;
		color: darken($white, 20%);
		a {
			color: darken($white, 30%);
			font-weight: normal;
			&:hover {
				color: $colorMainAlt;
			}
		}
	}
	h1 {
		font-size: $fontSizeHuge;
		font-weight: bold;
		padding: 0 0 20px;
		margin: 0;
		color: $colorAccent;
		span,
		em {
			display: block;
			font-size: $fontSizeTiny;
			color: desaturate($colorAccent, 20%);
			text-transform: uppercase;
			padding: 0 0 5px;
		}
		em {
			font-style: normal;
			color: desaturate($colorAccent, 40%);
			font-weight: bold;
		}
	}
	.cityLinks {
		font-size: $fontSizeSmall;
		color: darken($white, 30%);
		padding: 0 0 10px;
		a {
			color: darken($white, 60%);
			font-weight: normal;
			&:hover {
				color: $colorAccent;
			}
		}
	}
	.listContent {
		padding-top: 30px;
	}
	.listResults {
		font-size: $fontSizeSmall;
		font-style: italic;
		color: lighten($black, 40%);
		text-align: right;
	}
}
.cityList {
	@include clearer();
	a {
		float: left;
		width: 50%;
		font-size: $fontSizeBig * 2 / 3;
		display: block;
		padding: 10px;
		font-weight: normal;
		color: lighten($colorText, 10%);
		@include textEllipsis();
		@include borderBox();
		&:hover {
			color: $colorText;
		}
	}
}
.pagerAll {
	padding: 20px 0px;
	font-size: $fontSizeSmall;
	text-align: center;
	.pager,
	.pagerActive {
		display: inline-block;
		margin: 0 3px;
		a {
			display: inline-block;
			font-weight: normal;
			padding: 7px 12px;
			background: darken($white, 30%);
			color: $white;
			@include borderRadius(3px);
			&:hover {
				background: $colorMessage;
			}
		}
	}
	.pagerActive a {
		background: darken($white, 40%);
	}
}
.adsenseTest {
	background: lighten(desaturate($colorText, 60%), 70%);
	border: 1px solid lighten(desaturate($colorText, 60%), 65%);
	text-align: center;
	padding: 30px;
	text-transform: uppercase;
	color: lighten(desaturate($colorText, 60%), 50%);
}
.adsense {
	text-align: center;
	margin: 0 auto 20px 0;
}
.adsenselinksWrapper {
	@include clearer();
}
.adsenselinks {
	float: left;
	margin-right: 10px;
}
.message {
	color: darken($colorAccept, 5%);
	background: rgba($colorAccept, 0.05);
	border: 1px solid rgba($colorAccept, 0.1);
	font-weight: bold;
	padding: 15px;
	text-align: center;
	font-size: $fontSizeSmall;
	max-width: $sizeTablet * 2 / 3;
	line-height: 1.5;
	margin: 40px auto;
	box-sizing: border-box;
	@include borderRadius(5px);
	p {
		&:last-child {
			padding: 0;
		}
	}
	a {
		color: darken($colorAccept, 15%);
		&:hover {
			text-decoration: underline;
			opacity: 0.7;
		}
	}
	&.messageError {
		color: $colorError;
		background: rgba($colorError, 0.1);
		border: 1px solid rgba($colorError, 0.15);
		a {
			color: darken($colorError, 10%);
		}
	}
	&.messageInfo {
		color: $colorInfo;
		background: rgba($colorInfo, 0.1);
		border: 1px solid rgba($colorInfo, 0.15);
		a {
			color: darken($colorInfo, 10%);
		}
	}
	&.formFieldsPromotedMessage {
		margin: 10px 0;
		max-width: 100%;
		p {
			padding: 0 0 10px;
		}
		.icon-paypal {
			font-size: 30px;
			line-height: 1;
			text-align: center;
			display: block;
			color: $colorPaypal;
		}
	}
}

.messageSimple {
	color: lighten($black, 40%);
	background: rgba($black, 0.02);
	border: 1px solid rgba($black, 0.1);
	padding: 15px;
	font-size: $fontSizeSmall;
	max-width: $sizeTablet * 2 / 3;
	line-height: 1.3;
	margin: 40px auto;
	p {
		&:last-child {
			padding: 0;
		}
	}
	a {
		font-weight: bold;
		color: lighten($black, 50%);
		&:hover {
			text-decoration: underline;
			opacity: 0.7;
		}
	}
}

.contentWrapperMessage {
	.message {
		font-size: $fontSizeBig * 7 / 10;
		padding: 30px 30px 30px 100px;
		text-align: left;
		position: relative;
		margin: 100px auto 200px auto;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 40px;
			font-size: 40px;
			padding: 30px 20px;
			line-height: 40px;
			content: "\e919";
			font-family: 'icons';
			font-weight: normal;
			background: rgba(lighten($colorAccept, 10%), 0.3);
			color: rgba($white, 0.9);
		}
		h1 {
			text-align: left;
			font-size: $fontSizeBig;
			margin: 0;
			padding: 0 0 10px;
			color: darken($colorAccept, 15%);
			&:before,
			&:after {
				display: none;
			}
		}
	}
}


.buttonHome {
	text-align: center;
	margin: 200px auto 20px auto;
	a {
		display: inline-block;
		background: rgba($colorText, 0.03);
		border: 1px solid rgba($colorText, 0.04);
		color: rgba($colorText, 0.5);
		padding: 10px 20px;
		text-align: center;
		font-weight: bold;
		font-size: $fontSizeSmall;
		i,
		span {
			display: inline-block;
			vertical-align: middle;
		}
		i {
			font-size: $fontSizeBig;
			padding: 0 0 0 5px;
			color: rgba($colorText, 0.6);
		}
		@include borderRadius(3px);
		&:hover {
			background: lighten($colorText, 10%);
			color: $white;
			i {
				color: $white;
			}
		}
	}
}
.buttonPaypalWrapper {
	text-align: center;
	margin: 0 0 30px 0;
}
.buttonPaypal {
	display: inline-block;
	background: $colorPaypal;
	border: 1px solid darken($colorPaypal, 3%);
	color: $white;
	padding: 10px 60px 5px 60px;
	text-align: center;
	margin: auto;
	cursor: pointer;
	span {
		font-size: $fontSizeTiny;
		font-weight: normal;
		font-style: italic;
		display: block;
		padding: 0 0 5px 0;
	}
	i {
		font-size: 40px;
		line-height: 1;
	}
	@include borderRadius(3px);
	&:hover {
		background: darken($colorPaypal, 20%);
	}
}

.itemPublic {
	padding: 0;
	margin: 0 0 15px; 
	background: darken($white, 3%);
	border: 1px solid darken($white, 6%);
	font-size: $fontSizeSmall;
	@include clearer();
	&:last-child {
		margin: 0;
	}
	&.itemPublicPromoted {
		background: lighten(saturate($colorMainAlt, 50%), 43%);
		border: 1px solid lighten($colorMainAlt, 30%);
		position: relative;
		.itemPublicPromotedStar {
			position: absolute;
			top: 0;
			right: 0;
			padding: 3px 5px;
			background: lighten($colorMainAlt, 30%);
			color: lighten($colorMainAlt, 10%);
			font-size: $fontSizeTiny;
			line-height: 1;
			i,
			span {
				display: inline-block;
				vertical-align: middle;
			}
			i {
				padding: 0 5px 0 0;
			}
		}
		.tagsPlace {
			background: lighten($colorMainAlt, 30%);
		}
		.itemPublicInfo {
			a {
				padding: 0;
			}
		}
		.itemPublicWrapper {
			display: table;
			width: 100%;
			.itemPublicWrapperLeft {
				width: 20%;
				display: table-cell;
				vertical-align: top;
				padding: 15px;
				background: $white;
				img {
					width: 100%;
				}
			}
			.itemPublicWrapperRight {
				width: 80%;
				display: table-cell;
				vertical-align: top;
				padding: 15px;
			}
			p,
			.city {
				margin: 0;
				padding: 0 0 10px 30px;
			}
		}
	}
	.itemPublicInfo {
		a {
			padding: 15px 15px 0 15px;
			display: block;
			font-weight: normal;
			h2 {
				font-size: $fontSizeNormal;
				color: darken($colorMainAlt, 10%);
				font-weight: bold;
				padding: 0 0 5px;
			}
			p {
				padding: 0 0 10px 30px;
				position: relative;
				&:last-child {
					padding: 0;
				}
				&.telephone {
					color: lighten($colorText, 5%);
				}
				&.shortDescription {
					padding: 0 0 10px;
					color: lighten($colorText, 5%);
					font-style: italic;
				}
			}
			&:hover {
				h2 {
					color: $colorAccent;
				}
			}
		}
	}
	.city {
		color: lighten($colorText, 5%);
		padding: 0 15px 15px 30px;
		margin: 0 0 0 15px;
		position: relative;
		a {
			padding: 0;
			color: lighten($colorText, 10%);
			display: inline-block;
			font-weight: bold;
			&:hover {
				color: darken($colorText, 10%);
			}
		}
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		color: rgba(lighten($colorText, 15%), 0.5);
		padding: 0 10px 0 0;
	}
}
.itemComplete {
	.itemCompleteInfo {
		padding: 15px;
		background: darken($white, 4%);
		border: 1px solid darken($white, 10%);
		p {
			padding: 0 0 20px 40px;
			position: relative;
			&:last-child {
				padding: 0 0 0 40px;
			}
			i {
				position: absolute;
				top: 3px;
				left: 0;
				font-size: $fontSizeBig;
				color: rgba(lighten($colorText, 15%), 0.3);
			}
			&.shortDescription,
			&.description {
				padding: 0 0 40px;
				white-space: pre-line;
				color: lighten($colorText, 10%);
			}
		}
		em {
			color: darken($white, 60%);
			padding: 0 0 5px;
			font-size: 0.8em;
			font-style: normal;
			display: block;
		}
	}
	.contact {
		padding-bottom: 30px;
		a {
			display: block;
			background: darken($white, 5%);
			padding: 15px;
			text-align: center;
			font-weight: normal;
			font-size: 0.8em;
			&:hover {
				background: darken($white, 60%);
				color: $white;
			}
		}
	}
}
.tagsPlace {
	background: darken($white, 10%);
	padding: 0;
	margin: 0;
	text-align: right;
	a {
		display: inline-block;
		margin: 0;
		color: darken($white, 70%);
		font-weight: normal;
		font-size: $fontSizeTiny;
		padding: 4px 5px;
		margin: 3px;
		@include borderRadius(3px);
		&:hover {
			background: $colorAccentAlt;
			color: $white;
		}
	}
}
.related {
	padding-top: 70px;
	h3 {
		font-size: 1.4em;
		font-weight: normal;
		padding-bottom: 30px;
	}
}
.introPage {
	.introPageLeft {
		width: 55%;
		float: left;
		h1 {
			font-size: $fontSizeBig;
		}
	}
	.introPageRight {
		width: 40%;
		float: right;
	}
}

.actions {
	padding: 20px 0;
	@include clearer();
	.action {
		width: 30%;
		float: left;
		padding: 0 10px 0 0;
		@include borderBox();
		&:last-child {
			padding: 0;
		}
		a {
			display: block;
			padding: 15px 10px;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			font-size: $fontSizeSmall;
			vertical-align: middle;
			background: lighten($black, 50%);
			border: 1px solid lighten($black, 45%);
			@include borderRadius(3px);
			&:hover {
				background: lighten($black, 40%);
			}
			i {
				display: inline-block;
				font-size: $fontSizeBig;
				vertical-align: middle;
				padding: 0 10px 0 0;
			}
		}
		&.action-update {
			width: 40%;
			a {
				background: $colorAccept;
				border: 1px solid darken($colorAccept, 10%);
				&:hover {
					background: darken($colorAccept, 10%);
				}
			}
		}
	}
}

.actionsPlace {
	background: rgba($colorText, 0.05);
	border: 1px solid darken($white, 10%);
	border-top: 0;
	padding: 15px;
	margin: 0 0 20px;
	font-size: $fontSizeSmall;
	color: lighten($colorText, 5%);
	.actionPlace {
		padding: 0 0 10px;
		margin: 0 0 5px;
		border-bottom: 1px solid darken($white, 10%);
		@include clearer();
		&:last-child {
			padding: 0;
			margin: 0;
			border: 0;
		}
		h3 {
			font-weight: bold;
			color: lighten($colorText, 15%);
		}
		.actionPlaceIns {
			float: left;
			width: calc(100% - 220px);
		}
		a {
			display: block;
			float: right;
			margin: 10px 0 0 0;
			padding: 5px 10px 5px 30px;
			width: 130px;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			font-size: $fontSizeSmall;
			vertical-align: middle;
			background: $colorActive;
			border: 1px solid darken($colorActive, 5%);
			box-sizing: border-box;
			position: relative;
			@include borderRadius(3px);
			&:hover {
				background: darken($colorActive, 10%);
			}
			i {
				position: absolute;
				top: 5px;
				left: 5px;
			}
		}
		&.actionPlace-report {
			a {
				background: desaturate(lighten($colorText, 30%), 40%);
				border: 1px solid darken(desaturate(lighten($colorText, 30%), 40%), 5%);
				&:hover {
					background: darken(desaturate(lighten($colorText, 30%), 40%), 10%);
				}
			}
		}
	}
}

.contentWrapper-simple {
	max-width: 100%;
	background: darken($white, 2%);
	h1 {
		text-align: center;
		font-size: $fontSizeBig;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 0 0 15px;
		position: relative;
		color: $colorAccent;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 75px;
			height: 3px;
			background: rgba($colorAccent, 0.5);
			margin: auto;
		}
	}
	.pageComplete {
		max-width: $sizeTablet * 4 / 5;;
		margin: auto;
	}
}
.promotionPay {
	padding: 20px;
	margin: 0 auto 40px auto;
	max-width: $sizeTablet;
	background: $white;
	.formPublic {
		border: 0;
		max-width: $sizeTablet;
		margin: auto;
		background: transparent;
		@include clearer();
		.formField {
			width: 35%;
			float: left;
			margin: 0 2% 0 0;
			label,
			input {
				display: block;
				float: none;
				width: 100%;
				margin: 0;
			}
			label {
				padding: 0 0 5px;
			}
		}
		.formSubmitWrapper {
			width: 25%;
			float: right;
			input {
				width: 100%;
				margin: 8px 0 0 0;
			}
		}
	}
}

.pagePromoted {
	.pagePromotedBackground {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $colorText;
	}
	.pagePromotedBackgroundMask {
		padding: 60px 0 0 0;
	}
	.header {
		background: rgba($black, 0.6);
		border-bottom: 1px solid rgba($black, 0.6);
		.logo a {
			strong {
				background-image: url(../../img/logoWhite.png);
			}
			span {
				border-top: 3px double rgba($white, 0.3);
				color: rgba($white, 0.9);
			}
		}
	}
	.searchTop {
		.formFieldSubmit {
			button {
				background: rgba($white, 0.2);
				border: 0;
				&:hover {
					background: rgba($white, 0.3);
				}
			}
		}
	}
	.subscribeTop {
		display: none;
	}
	.footer {
		background: lighten($black, 20%);
		margin: 0;
		.footerDown {
			a {
				color: darken($white, 20%);
				&:hover {
					color: $white;
				}
			}
			.btnContact {
				a {
					color: lighten($black, 20%);
				}
			}
		}
	}
	.itemComplete {
		padding: 50px 0 100px 0;
		.itemCompleteInfo {
			background: transparent;
			margin: 0;
			padding: 0;
			border: 0;
		}
		.itemCompleteIns {
			background: rgba(darken($white, 3%), 0.96);
			border: 0;
			max-width: $sizeTablet;
			margin: auto;
			@include simpleShadow();
		}
		h1 {
			font-size: $fontSizeHuge * 4 / 5;
			font-weight: bold;
			padding: 10px 15px;
			background: $white;
			margin: 0;
			letter-spacing: -1px;
		}
	}
	.itemCompleteWrapper {
		padding: 15px;
		@include clearer();
		.itemCompleteWrapperLeft {
			width: 20%;
			float: left;
			img {
				width: 100%;
				padding: 10px;
				background: $white;
				@include borderBox();
			}
		}
		.itemCompleteWrapperRight {
			width: 78%;
			float: right;
		}
		p.description {
			padding: 0;
		}
	}
	.itemCompleteInfoWrapper.itemCompleteInfo {
		padding: 15px 15px 40px 15px;
		@include clearer();
		.itemCompleteInfoLeft,
		.itemCompleteInfoRight {
			width: 50%;
			float: left;
		}
	}
}

.promotionInfo {
	background: $white;
	padding: 40px 0 0 0;
	table {
		max-width: $sizeDesktop;
		margin: auto;
		table-layout: fixed;
		td {
			border: 0;
			padding: 20px 40px;
			margin: 0;
			background: lighten($colorText, 75%);
			border-bottom: 5px solid $white;
			text-align: center;
			img {
				padding: 40px 10px;
				@include borderBox();
			}
			&:nth-child(2) {
				background: lighten($colorMainAlt, 30%);
				border-left: 5px solid $white;
			}
		}
		tr {
			&:nth-child(1) {
				td {
					background: lighten($colorText, 20%);
					vertical-align: middle;
					padding: 10px;
					&:nth-child(2) {
						background: darken($colorMainAlt, 5%);
						h2 {
							font-size: $fontSizeHuge;
							text-shadow: 1px 1px 4px rgba($black, 0.5);
							text-transform: normal;
							span {
								font-size: $fontSizeBig;
								letter-spacing: -1px;
							}
							em {
								font-size: $fontSizeNormal;
								display: inline-block;
								font-weight: normal;
							}
						}
					}
					h2 {
						text-transform: uppercase;
						color: $white;
						padding: 15px 0;
						margin: 0;
					}
				}
			}
		}
	}
}

.promotionPayBottom {
	max-width: $sizeDesktop;
	margin: auto;
	.promotionPayBottomIns {
		padding-left: calc(50% + 3px);
		form {
			border: 0;
			background: lighten($colorMainAlt, 30%);
		}
		.promotionPayBottomTitle {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: -1px;
			padding: 10px 0;
			font-size: $fontSizeBig;
			color: $white;
			background: $colorAccent;
			text-align: center;
		}
	}
	@include borderBox();
}

.shareOptions {
	padding: 20px 0 0 0 ;
	text-align: right;
	font-size: $fontSizeSmall;
	.shareOptionsTitle {
		display: inline-block;
		vertical-align: middle;
		color: lighten($black, 40%);
		font-size: $fontSizeTiny;
	}
	.shareOptionsIns {
		display: inline-block;
		vertical-align: middle;
		a {
			display: inline-block;
			vertical-align: middle;
			padding: 10px 15px;
			margin: 0 0 0 10px;
			background: darken($white, 10%);
			color: $white;
			@include borderRadius(3px);
			&.optionFacebook {
				background: $colorFacebook;
			}
			&.optionTwitter {
				background: $colorTwitter;
			}
			&.optionLinkedin {
				background: $colorLinkedin;
			}
			i {
				display: inline-block;
				padding: 0 5px 0 0;
			}
			&:hover {
				background: darken($white, 15%);
			}
		}
	}
}
.reportPlace {
	max-width: $sizeTablet * 4 / 5;
	margin: auto;
	padding: 0;
	background: darken($white, 3%);
	border: 1px solid darken($white, 10%);
	border-bottom: 0;
	box-sizing: border-box;
	.itemPublic {
		border: 0;
		background: transparent;
		padding: 0;
	}
}
.map {
    width: 100%;
    height: 300px;
    .mapIns {
        height: 300px;
    }
}

.adminWrapper {
	max-width: $sizeDesktop;
	margin: auto;
	@include clearer();
	.adminItem {
		float: left;
		padding: 0 15px 15px 15px;
		@include borderBox();
		&.adminItem2 {
			width: 50%;
		} 
	}
	h2 {
		color: $colorMain;
		padding: 0 0 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.itemInfo {
	padding: 20px;
	background: darken($white, 2%);
	border: 1px solid darken($white, 6%);
	p {
		padding: 0 0 10px;
		margin: 0;
		font-size: $fontSizeNormal;
		color: $colorText;
	}
	em {
		display: block;
		color: darken($white, 30%);
		font-size: $fontSizeTiny;
	}
}

.btnPublish {
	text-align: center;
	font-size: $fontSizeTiny;
	a {
		display: block;
		max-width: 200px;
		padding: 15px 20px;
		color: $white;
		background: $colorMain;
		font-size: $fontSizeNormal;
		font-weight: bold;
		margin: 100px auto 5px auto;
		text-transform: uppercase;
		@include borderRadius(3px);
		&:hover {
			background: darken($colorMain, 10%);
		}
	}
}

.introPlaces {
	padding: 30px 0 0 0;
	margin: 30px 0 0 0;
	border-top: 5px solid darken($white, 5%);
	h3 {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 20px;
		color: lighten($black, 40%);
	}
}

.retryPayments {
	text-align: center;
	margin: 10px 0 30px 0;
	.retryPayment {
		display: inline-block;
		padding: 0 10px;
		a {
			display: inline-block;
			padding: 10px 30px;
			background: lighten(desaturate($colorText, 50%), 30%);
			border: 1px solid lighten(desaturate($colorText, 50%), 20%);
			color: $white;
			font-weight: bold;
			@include borderRadius(5px);
			&:hover {
				background: lighten(desaturate($colorText, 50%), 20%);
				border: 1px solid lighten(desaturate($colorText, 50%), 20%);
			}
		}
	}
}

.formFieldsPromotionLink {
	text-align: right;
	a {
		display: inline-block;
		padding: 10px 15px;
		background: lighten($colorText, 20%);
		border: 1px solid lighten($colorText, 30%);
		color: $white;
		font-size: $fontSizeSmall;
		@include borderRadius(5px);
		&:hover {
			background: lighten($colorText, 25%);
		}
		span,
		i {
			display: inline-block;
			vertical-align: middle;
		}
		i {
			padding: 0 0 0 5px;
		}
	}
}

.contentWrapper-clean {
	max-width: 100%;
}
.contentWrapper-promotion {
	max-width: 100%;
	background: darken($white, 5%);
}
.promotion {
	margin: auto;
	padding: 140px 0 0 0;
	position: relative;
	&:before {	
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		height: 130px;
		background-color: $white;
		background-image: url(../../img/directorio_bg_small.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
	}
	.promotionIns {
		max-width: $sizeDesktop;
		margin: auto;
		max-width: $sizeTablet;
		background: rgba($white, 0.8);
		border: 1px solid rgba($black, 0.05);
		padding: 30px;
		box-sizing: content-box;
		position: relative;
		z-index: 2;
		h1 {
			font-size: $fontSizeHuge * 6 / 10;
			letter-spacing: -1px;
			padding: 0 0 30px;
			margin: 0 0 30px;
			color: $colorAccept;
			position: relative;
			text-align: center;
			span {
				display: block;
				padding: 5px 0 0 0;
				font-size: $fontSizeHuge * 4 / 10;
				color: lighten($colorAccept, 5%);
				text-transform: none;	
				em {
					display: inline;
					font-size: $fontSizeHuge * 6 / 10;
					color: lighten($colorAccept, 10%);
				}
			}
			&:before,
			&:after {
				display: none;
			}
		}
		h2 {
			font-size: $fontSizeHuge * 5 / 10;
			letter-spacing: -1px;
			padding: 0 0 30px;
			margin: 0;
			color: $colorAccentAlt;
			font-weight: normal;
			text-align: center;
		}
		ul {
			margin: 20px 0;
			li {
				display: block;
				margin: 0 20px;
				padding: 0 0 20px 40px;
				list-style: none;
				position: relative;
				font-size: $fontSizeBig * 8 / 10;
				&:before {
					content: "\e903";
					font-family: 'icons';
					color: $colorAccept;
					font-size: 20px;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			&.secondary {
				li {
					&:before {
						color: $colorAccentAlt;
					}
				}
			}
		}
	}
	.formFieldsPromotionLink {
		text-align: center;
		padding: 20px 0 50px 0;
	}
}

@import "_public_responsive.scss";